version: '3.1'
services:
  app:
    container_name: clinica_app
    image: clinica_app
    build: ./
    ports:
      - "8080:8080"
    depends_on:
      - dbpostgresql
  dbpostgresql:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=clinica
      - POSTGRES_HOST=localhost